/*Estilos de la barra de navegacion*/
body {
    background-color: #b5c0d0;
    margin: 0;
    padding: 0;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
header {
    background-color: #63997A; 
    width: 100%;
    
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}
img {
    height: 100px; ;
    margin-top: 5px;
}
.botones {
    display: flex;
    gap: 30px;
    margin-left: 10px;
    margin-right: 50px;
}
.boton-nav{
    border: solid 1px;
    border-color: black;
    border-radius: 5px;
    background-color: #FA7F4B;
    height: 40px;
    width: 150px;
}
button a {
    text-decoration: none;
    color: white;
    font-size: 18px
}
button:hover {
    background-color: #63997A;
    
}
a:hover {
    color: #1e0fa1;
}
