@import "leaflet/dist/leaflet.css";
@import "leaflet-search/dist/leaflet-search.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-popup-wrapper .leaflet-popup-content-wrapper {
  padding: 0;
  overflow: hidden;
  border-radius: 8px;
}

.custom-popup-wrapper .leaflet-popup-content {
  margin: 0;
  width: 250px !important;
}

.custom-popup-wrapper .leaflet-popup-tip-container {
  margin-top: -1px;
}

.custom-popup {
  font-family: Arial, sans-serif;
}

.custom-popup .popup-header {
  background-color: #fa7f4b;
  color: white;
  padding: 12px;
}

.custom-popup .popup-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.custom-popup .popup-subtitle {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 4px;
}

.custom-popup .popup-subtitle svg {
  margin-right: 4px;
}

.custom-popup .popup-content {
  padding: 12px;
  background-color: white;
}

.custom-popup .popup-content p {
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #333;
}

.custom-popup .popup-footer {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666;
  border-top: 1px solid #eee;
  padding-top: 8px;
  margin-top: 8px;
}

.custom-popup .popup-footer svg {
  margin-right: 4px;
}

.border-custom {
  border-color: #fa7f4b;
}
