/* Estilos del Nav*/
body {
    margin: 0;
    padding: 0;
    background-color: #b5c0d0;
}
header {
    background-color: #63997A; 
    display: flex;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
img {
    height: 100px; ;
    margin-top: 5px;
}
.botones {
    display: flex;
    gap: 30px;
    margin-left: 10px;
    margin-right: 50px;
}
.boton-nav{
    border: solid 0px;
    border-radius: 5px;
    background-color: #FA7F4B;
    height: 40px;
    width: 150px;
}
button a {
    text-decoration: none;
    color: white;
    font-size: 18px
}
button:hover {
    background-color: #63997A;
}
a:hover {
    color: #1e0fa1;
}


/* Estilos para el main*/
main {
    margin: 20px;
}
.informacion {
    margin: 30px;
}
h2{
    display: flex;
    justify-content: center;
}
.secciones {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.section{
    margin: 10px;
    display: flex;
    flex-direction: row;
}


/*Estilos para el footer*/
footer{
    background-color: #63997A; 
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.botones-footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.boton-footer{
    width: 110px;
    height: 30px;
    padding: 12px;
    text-align: center;
    background-color: #efbc9b;
    border: 1px solid #fa7f4b;
    border-radius: 15px;
    color: 1px  #444444;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-footer:hover{
    background-color: #4F6F52;
    color: white;
    border: 1px solid #232323;

}
.info{
    text-align: center;
}
.info h3{
    margin-bottom: 10px;
}
.info p{
    margin: 8px 0;
}


@media screen and (max-width: 600px){
    .seccion{
        flex-direction: column;
    }
    .botones-footer{
        align-items: center;
    }
    .info{
        flex: 1;
    }
}